body{background-color:rgb(186, 186, 186);}

.titulo{font-size: 68px;
text-align: center;
font-style: cursive;}
sup{font-size: 20px;}
#hsmall{font-size: 8px;}
#titulo2{text-align: center;}

.navbar{color:  rgb(186, 186, 186);
font-size: 35px ;
text-align: center;
}
.navbar a:hover {
background-color:rgb(79, 79, 79);
color:rgb(186, 186, 186);
}

.pestanas{text-align: center;
color: white;
text-decoration: none;}

.forma{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15px 35px;
    color: black;
    background:white;
    border-radius: 28px;
    box-shadow:  0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
  
}
.leftt{
    padding:14px;
    margin-left:1px;
    float: left;
    background-color:#FFA07A;
    border-radius: 15px;
}
 

.rightt {
    padding:14px;
    margin-left: 1px;
    float: right;
    background-color:#FFFACD;
    border-radius: 15px;
}
iframe{padding: 5px 10px;
    margin-left: 4.4%; }