#main{background-color:rgb(186, 186, 186);
font-family: serif;}

.titulo{font-size: 68px;
text-align: center;
font-style: cursive;}
#hsma{font-size:20px;}
#hsmall{font-size: 8px;}
#titulo2{text-align: center;}


.navbarro{color:  rgb(186, 186, 186);
font-size: 35px ;
text-align: center;
background-color:rgb(103, 48, 1);
}
.navbarro a:hover {
background-color:rgb(185, 122, 87);
color:rgb(255, 255, 255);
text-decoration: none;
}

.navbarro a.active  {
    background-color:rgb(255, 102, 0);
    color:rgb(255, 255, 255);
    text-decoration: none;
    }

.pestanas{text-align: center;
color: white;
text-decoration: none;
padding: 10px;
padding-left: 25px;
padding-right: 25px;}

.forme{
    height: 100%;
}

.forme p{
    font-size: 1.3em ;
    padding-top: 50px;
    overflow: scroll;
    
}
.forme h2{
    font-size: 2.7em ;
}
.forma,.forme{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 35px;
    color: black;
    background:white;
    border-radius: 9px;
    border: black;
    border-width: 52px;
    border: 6px solid white;
}
.forma:hover {
    background-color:rgb(185, 122, 87);
    color:rgb(0, 0, 0);
    }

.rightt,.leftt {
    padding:4px;
    margin-bottom: 25px;
    margin-right: 30px;
    float: left;
    border-radius: 4px;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}
iframe{padding: 5px 10px;
    margin-left: 4.4%; }

    #one{
        background-image: url("./images/image7.jpg");
        background-color: #cccccc;
        height: 600px;
        max-width: 100%;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
       }
.centerTitle{
    padding-top: 350px;
    padding-left: 10%;
    padding-right: 30%;
    color: rgb(255, 255, 255);
    font-size: 4.5em;
    max-width: 1800px;
}
.centeredTitle{
   font-size: 4em;
   padding: 1em;
   padding-left: 10%;
   padding-bottom: .5em;
    color: black;
}
img{
    width: 70%;
    height: 70%;
}
#centerimage{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 70%;
}
.steps{
    font-size: 1.3em;}


#three{
    background-image: url("./images/image2.jpg");
    background-color: #cccccc;
    height: 600px;
    max-width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    }

.simpleParagraph{
    font-size: 2em;
    color: white;
    padding-left: 10%;
}
#botone{
    padding-left: 10%;
}
#two{
    height: 900px;
    max-width: 100%;
   }
   .containero{
    padding: 2cm;
    padding-left: 28%;
    padding-right: 28%;
    background-color: white;
   }
   .aboutText{
    font-size: 1.2em;
    color: black;
   }
   #colo{
       padding-left:5%;
       padding-right:15% ;
   }
   #contenedores a{
    background-color:rgb(254, 224, 207);
    color: black;
    font-weight: bold;
    font-size: 1.1em;
   }
   #contenedores a:hover {
    background-color:rgb(255, 255, 255);
    color:black;
    }
    #contenedores a.active {
        background-color: rgb(255, 102, 0);
        color : white;
        border-color: rgb(255, 102, 0);
        font-weight: bold;
        font-size: 1.5em;
        }
#cuerpo{
    overflow-y: scroll; 
    height:900px;
}
#four {
    padding-left: 17%;
    padding-right: 13%;
}